@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
body {
  background-image: url("https://images.pexels.com/photos/220116/pexels-photo-220116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playfair Display", serif;
  .app {
    height: 95vh;
  }
  .icon {
    margin-top: 20px;
  }
  .text {
    color: #ffffffd1;
  }
}
